body{
	background-image:url(https://img.freepik.com/free-vector/minimal-doodle-frame-background-social-story-highlight_53876-97970.jpg?size=626&ext=jpg&ga=GA1.1.1700460183.1709251200&semt=ais);
	border-style:soild;
}

.container{
	background-color:aliceblue;
	width:500px;

}